.MainContent{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    z-index: 100;
   // transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.738);
    display: flex;
    justify-content: center;
    .banner{
        
        width:50%;
        height: 520px;
        background-color: #dedcdc;;
        color:black;
        font-size: 16px;
        margin-top: 100px;
        .bannerWrapper{
            display: flex;
            flex-direction:column;
            margin:10px;
            .Close{
                display: flex;
                justify-content: flex-end;
                
                svg{
                    margin: 15px;
                }
            }
            .banner-title{
                margin: 20px 30px;
                font-size: 18px;
                font-weight: 600;
                .title{
                    width:95%;
                    height:50px;
                    margin:10px 0;
                    background-color: #fff;
                    font-size: 14px;
                    line-height: 50px;
                    padding:10px;
                }
               
            }
            .banner-description{
                margin: 20px 30px;
                font-size: 18px;
                font-weight: 600;
                .description{
                    width:95%;
                    height: 100px;
                    margin: 10px 0;
                    background-color: #fff;
                    font-size: 14px;
                    line-height: 50px;
                    padding:10px;
                }

            }
            .submit{
                display: flex;
                justify-content: center;
                margin:20px 0;
                button{
                    width:60%;
                    height: 50px;
                    background-color:rgb(156, 157, 156);
                }
            }
        }

    }

}
